.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local



# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Symfony
/var/
/vendor/
.env
node_modules/
/public/uploads/
dist/

# IDE / Editors
.idea/
.vscode/
.DS_Store